{% extends "base.html" %}
{% block content %}

<div class="form-group">
<a href="{% url 'note-create' %}"><button class="btn btn-outline-info" type="submit">Новая заметка</button></a>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    {% for note in notes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ note.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'note-detail' note.id %}">{{ note.title }}</a></h2>
            <p class="article-content">{{ note.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}